*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: hsl(30, 38%, 92%);
}

.card {
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 90%;
	border-radius: 15px;
	margin: 10px;
	background-color: #fff;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
	text-align: left;
	// overflow: hidden;
	&__img {
		width: 100%;
	}

	&__body {
		padding: 10px 20px;
	}

	&__perfume {
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-size: 2rem;
		font-weight: 300;
		color: hsl(228, 12%, 48%);
		letter-spacing: 5px;
	}

	&__name {
		font-size: 3rem;
		font-family: 'Fraunces', serif;
		padding: 10px 0;
	}

	&__text {
		font-size: 1.4rem;
		color: hsl(228, 12%, 48%);
	}

	&__prices {
		display: flex;
		padding: 15px 0px;
		margin-bottom: 20px;
		height: 20%;

		&--regular {
			font-size: 4rem;
			color: hsl(158, 36%, 37%);
			font-family: 'Fraunces', serif;
		}

		&--discount {
			position: relative;
			font-size: 1.4rem;
			margin-top: 16px;
			padding: 12px;
			text-decoration: line-through;
			color: hsl(228, 12%, 48%);
		}
	}
	&__btn {
		position: absolute;
		width: 80%;
		bottom: 10%;
		padding: 10px 20px;
		border-radius: 8px;
		border: none;
		background-color: hsl(158, 36%, 37%);
		color: #fff;
		font-weight: 700;
		font-size: 2rem;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			background-color: hsl(158, 32%, 25%);
		}
	}
}



@media (min-width: 768px) {
	img {
		content: url(../images/image-product-desktop.jpg);
	}

	.card {
		display: flex;
		flex-direction: row;

		&__img {
			height: 100%;
			width: 40%;
		}
	}
}
