*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
    background-color: hsl(30, 38%, 92%);
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	margin: 10px;
	width: 40%;
	height: 800px;
	text-align: center;
	background-position: center;
	background-size: cover;
	border-radius: 15px;
    background-color: #fff;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
	overflow: hidden;
	&__img {
		position: relative;
		width: 100%;
		top: -130px;
	}
}
